// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-color-primary: #3b82f6; /* blue */
  --ion-color-secondary: #10b981; /* green */
  --ion-color-danger: #ef4444; /* red */
}
